body{
    background-color: #252525;
    color: aliceblue;
}
h1{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}
